<div class="row">
    <div class="span4">
    </div>

    <div class="span8">
        <div class="row">
            <h2>Login</h2>

            <form action="" method="post" class="form-horizontal" name="loginForm">
                <div class="control-group {{!loginForm.user.$error.required || 'error'}}">
                    <label for="user" class="control-label">User</label>

                    <div class="controls">
                        <input type="text" name="user" id="user" class="input-xlarge" data-ng-model="user" required=""/><br/>
                        <span class="help-inline" data-ng-show="loginForm.user.$error.required">Required</span>
                    </div>
                </div>
                <div class="control-group {{!loginForm.pass.$error.required || 'error'}}">
                    <label for="pass" class="control-label">Password</label>

                    <div class="controls">
                        <input type="password" name="pass" id="pass" class="input-xlarge" data-ng-model="pass" required=""/><br/>
                        <span class="help-inline" data-ng-show="loginForm.pass.$error.required">Required</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Authenticate" class="btn btn-primary" data-ng-click="login(user)" data-ng-disabled="loginForm.$invalid"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
