<!DOCTYPE html>
<html ng-app>
<head>
    <title>ZenContacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/zencontact.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">ZenContacts</a>
                <ul class="nav">
                    <li class="active">
                        <a href="contactList.html">My Contacts</a>
                    </li>
                    <li>
                        <a href="contactEdit.html">Add new contact</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="hero-unit">
            <h1>ZenContacts</h1>

            <h2>Taking care of your people, one at a time.</h2>
        </div>
        <div class="row" ng-controller="ContactListController">
            <div class="span4">
                <div class="well">
                    <h2>Contacts</h2>

                    <form class="form-search">
                        <div class="input-append">
                            <input type="text" class="input-medium search-query" ng-model="search">
                            <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
                        </div><br />
                        Search for: <span ng-bind="search"></span>
                        <div ng-show="search.length>0">
                            <ng-pluralize count="newFilteredContacts.length"
                            when="{'0': 'No contact',
                            'one': '1 contact',
                            'other': '{{newFilteredContacts.length}} contacts'}">
                        </ng-pluralize>
                    </div>
                </form>

                <ul class="unstyled" ng-show="search.length>0">
                    <li ng-repeat="contact in newFilteredContacts"><a href="">{{contact.firstName}} {{contact.lastName | uppercase}}</a></li>
                </ul>
            </div>
        </div>

        <div class="span8" ng-show="search.length>0">
            <div class="row">
                <div ng-repeat="contact in newFilteredContacts" class="contact-card span4">
                    <div class="contact-card-inner">
                        <h4>{{contact.firstName}} {{contact.lastName | uppercase}}</h4>

                        <div class="contact-address">{{contact.address}}</div>
                        <div class="contact-phone">{{contact.phone}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/angular/angular.js"></script>
<script src="js/app/controllers.js"></script>
</html>