<!DOCTYPE html>
<html ng-app>
<head>
    <title>ZenContacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/zencontact.css" rel="stylesheet" media="screen">
    <script src="js/angular/angular.js"></script>
</head>
<body ng-init='contacts=[ { "id": 0, "lastName": "Wayne", "firstName": "Bruce", "address": "Gotham city", "phone": "555-BATMAN" },
  { "id": 1, "lastName": "Parker", "firstName": "Peter", "address": "New York", "phone": "555-SPDRMN" },
  { "id": 2, "lastName": "Storm", "firstName": "Jane", "address": "Baxter building, New York", "phone": "555-INVGRL" },
  { "id": 3, "lastName": "Richards", "firstName": "Red", "address": "Baxter building, New York", "phone": "555-MRFANT" },
  { "id": 4, "lastName": "Storm", "firstName": "Johnny", "address": "Baxter building, New York", "phone": "555-TORCH" },
  { "id": 5, "lastName": "Grimm", "firstName": "Benjamin", "address": "Baxter building, New York", "phone": "555-THING" },
  { "id": 6, "lastName": "Murdock", "firstName": "Matt", "address": "San Francisco", "phone": "555-DARDVL" },
  { "id": 7, "lastName": "Stark", "firstName": "Tony", "address": "Stark tower, New York", "phone": "555-IRNMAN" } ]'>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">ZenContacts</a>
            <ul class="nav">
                <li class="active">
                    <a href="contactList.html">My Contacts</a>
                </li>
                <li>
                    <a href="contactEdit.html">Add new contact</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="hero-unit">
        <h1>ZenContacts</h1>

        <h2>Taking care of your people, one at a time.</h2>
    </div>
    <div class="row">
        <div class="span4">
            <div class="well">
                <h2>Contacts</h2>

                <form class="form-search">
                    <div class="input-append">
                        <input type="text" class="input-medium search-query" ng-model="search">
                        <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
                    </div><br />
                    <span ng-show="search.length>0">Search for: <span ng-bind="search"></span></span>
                </form>

                <ul class="unstyled" ng-show="search.length>0">
                    <li ng-repeat="contact in filteredContacts=(contacts | filter:search | orderBy:'lastName')" ><a href="">{{contact.firstName}} {{contact.lastName | uppercase}}</a></li>
                </ul>
            </div>
        </div>

        <div class="span8" ng-show="search.length>0">
            <div class="row">
                <div ng-repeat="contact in filteredContacts" class="contact-card span4">
                    <div class="contact-card-inner">
                        <h4>{{contact.firstName}} {{contact.lastName | uppercase}}</h4>

                        <div class="contact-address">{{contact.address}}</div>
                        <div class="contact-phone">{{contact.phone}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>