<!DOCTYPE html>
<html ng-app="zenContactApp">
<head>
    <title>ZenContacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/zencontact.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavigationController">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">ZenContacts</a>
                <ul class="nav">
                    <li ng-class="{active:isActive('/list')}">
                        <a href="#/list">{{'my.contacts' | translate}}</a>
                    </li>
                    <li ng-class="{active:isActive('/edit')}">
                        <a href="#/edit">{{'add.new.contact' | translate}}</a>
                    </li>
                    <li>
                        <a href="#" ng-click="changeLang('fr')">FR</a>
                    </li>
                    <li>
                        <a href="#" ng-click="changeLang('en')">EN</a>
                    </li>
                    <li>
                        <a href="#" auto-popup="view/about.html">{{'about' | translate}}</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li><a ng-show="!isConnected()" href="#/login" >Login</a><a ng-show="isConnected()" href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="hero-unit">
            <h1>ZenContacts</h1>

            <h2>Taking care of your people, one at a time.</h2>
        </div>
        <div class="row" ng-view >



        </div>
    </div>

</body>
<script src="js/polyfill/string.js"></script>
<script src="js/jquery/jquery.js"></script>
<script src="js/bootstrap/bootstrap.js"></script>
<script src="js/markdown/markdown.js"></script>
<script src="js/angular/angular.js"></script>
<script src="js/angular/angular-cookies.js"></script>
<script src="js/angular/angular-route.js"></script>
<script src="js/angular/angular-resource.js"></script>
<script src="js/angular/angular-translate.js"></script>
<script src="js/angular/angular-translate-loader-static-files.js"></script>
<script src="js/angular/angular-translate-loader-url.js"></script>
<script src="js/angular-ui/unique.js"></script>
<script src="js/fuse/fuse.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/controllers.js"></script>
<script src="js/app/directive.js"></script>
<script src="js/app/services.js"></script>
<script src="js/app/filters.js"></script>

</html>