<div class="span4">
    <div class="well">
        <h2>Contacts</h2>

        <form class="form-search">
            <div class="input-append">
                <input type="text" class="input-medium search-query" ng-model="search">
                <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
            </div><br />
            Search for: <span ng-bind="search"></span>
            <div>
                <ng-pluralize count="filteredContacts.length"
                when="{'0': 'No contact',
                'one': '1 contact',
                'other': '{{filteredContacts.length}} contacts'}">
            </ng-pluralize>
        </div>
    </form>

    <ul class="unstyled">
        <li zen-repeat="contact in filteredContacts"><a href="#/edit/{{contact.id}}">{{contact.firstName}} {{contact.lastName | uppercase}}</a></li>
    </ul>
</div>
</div>

<div class="span8">
<div class="row">
    <div ng-repeat="contact in filteredContacts = (contacts | fuzzyFilter:search | orderBy:'lastName')" class="contact-card span4" style="cursor:pointer">
        <div class="contact-card-inner" ng-click="edit(contact)">
            <h4>{{contact.firstName}} {{contact.lastName | uppercase}}</h4>

            <div class="contact-address">{{contact.address}}</div>
            <div class="contact-phone">{{contact.phone}}</div>
        </div>
    </div>
</div>
</div>